<app-search-header></app-search-header>

<main [style]="'min-height: 750px; margin-top: 200px;'">
    <div class="container mt-5" *ngIf="profile !== undefined; else Block">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img [src]="profile.img" width="100" class="rounded-circle">
                    </div>

                    <div class="text-center mt-3">
                        <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                        <h5 class="mt-2 mb-0">{{ profile.username }}</h5>
                        <span>UI/UX Designer</span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi
                                ut aliquip ex ea commodo consequat. </p>

                        </div>




                    </div>




                </div>

            </div>

        </div>

    </div>
    <ng-template #Block>
        <h2 class="text-center">User Not Found</h2>
    </ng-template>
</main>

<app-footer></app-footer>