<main>
  <app-header></app-header>
  <section class="slick-slideshow">
    <div class="slick-custom">
      <img src="/assets/images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="" />

      <div class="slick-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-10">
              <h1 class="slick-title">Welcome</h1>

              <p class="lead text-white mt-lg-3 mb-lg-5">
                Join us with other software engineer
              </p>


            </div>
          </div>
        </div>
      </div>
    </div>



  </section>


  <section class="front-product">
    <div class="container-fluid p-0">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12">
          <img src="/assets/images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 col-12">
          <div class="px-5 py-5 py-lg-0">
            <h2 class="mb-4"><span>Working</span> and having discussion</h2>

            <p class="lead mb-4">
              Work together with others software engineer
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>


</main>
<app-footer></app-footer>